



<div class="border-t border-[#40444b] mt-3">
  <button (click)="isOpen = !isOpen"
    class="flex items-center justify-between w-full p-3 text-[#b9bbbe] hover:bg-[#40444b] transition-colors duration-200">
    <span>Comments ({{ comments.length }})</span>
    <svg xmlns="http://www.w3.org/2000/svg" [ngClass]="{'rotate-180': isOpen}"
      class="h-5 w-5 transition-transform duration-200" viewBox="0 0 20 20" fill="currentColor">
      <path fill-rule="evenodd"
        d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
        clip-rule="evenodd" />
    </svg>
  </button>
  <div *ngIf="isOpen" class="p-3 bg-[#2f3136]">
    <div class="space-y-4 mb-4 h-64 overflow-x-auto">



      @for (comment of comments; track comment) {
      <div [routerLink]="['/profile',comment.author._id]"  class="flex space-x-3 cursor-pointer">
        <img [src]="comment.author.image" [alt]="comment.author.username" class="w-8 h-8 rounded-full object-cover">
        <div>
          <div class="flex items-center space-x-2">
            <span class="font-semibold text-white">{{ comment.author.username }}</span>
            <span class="text-[#b9bbbe] text-xs">{{ comment.timestamp | date:'MMM d, yyyy'}}</span>
          </div>
          <p class="text-[#dcddde]">{{ comment.content }}</p>
        </div>
      </div>
      }@empty {
      <p class="text-[#dcddde]">No comments yet.</p>
      }


    </div>
    <form (ngSubmit)="onSubmit()" class="flex">
      <input type="text" [(ngModel)]="newComment" name="newComment" placeholder="Add a comment..."
        class="flex-grow bg-[#40444b] text-[#dcddde] rounded-l-md px-3 py-2 focus:outline-none">
      <button type="submit"
        class="bg-[#5865f2] text-white px-4 py-2 rounded-r-md hover:bg-[#4752c4] transition-colors duration-200">
        Post
      </button>
    </form>
  </div>
</div>
