<main class="flex h-screen bg-[#36393f] overflow-hidden">
  <app-server-sidebar (toggleChat)="isChatToggle($event)" (toggleVideo)="isVideoToggle($event)"/>
  
  <div class="flex-1 flex flex-col h-full w-full" id="main-content-wrapper">
    <app-friends-header [name]="'Home'" />
    
    <div class="flex-1 overflow-hidden">
      @if(isChat){
        <app-community-chat class="h-full flex flex-col" />
      }
      @if(isVideo){
        <app-community-video-chat />
      }
    </div>
  </div>
</main>

@if (profileVisible) {
  <app-user-profile />
}

@if (createServerVisible) {
  <app-create-server />
}