.dark-theme-dialog .p-dialog-header {
    background-color: #36393f !important;
    color: white !important;
    border-bottom: none !important;
  }
  
  .dark-theme-dialog .p-dialog-content {
    background-color: #36393f !important;
    color: white !important;
  }
  
  .dark-theme-dialog .p-dialog-footer {
    background-color: #36393f !important;
    color: white !important;
    border-top: none !important;
  }
  
  .dark-theme-dialog .p-dialog-header-icon {
    color: white !important;
  }
  
  .dark-theme-dialog .p-dialog-header-icon:hover {
    background-color: rgba(255,255,255,0.1) !important;
  }

  :host ::ng-deep .p-dialog .p-dialog-header,
:host ::ng-deep .p-dialog .p-dialog-content,
:host ::ng-deep .p-dialog .p-dialog-footer {
  background: #36393f;
  color: white;
  border: none;
}

:host ::ng-deep .p-dialog .p-dialog-header .p-dialog-title {
  color: white;
}

:host ::ng-deep .p-dialog .p-dialog-header .p-dialog-header-icon {
    top: 0px;
  color: white;
}