


    <div class="w-full h-[500px] bg-black overflow-hidden group relative">
      <vg-player class="h-full">
          <vg-overlay-play></vg-overlay-play>
          <vg-buffering></vg-buffering>
  
          <!-- Video element -->
          <video appAutoPlayPost [vgMedia]="$any(media)" #media id="singleVideo" preload="auto" class="w-full h-full">
              <source [src]="videoUrl" type="video/mp4">
          </video>
  
          <!-- Controls, initially hidden, only shown on hover -->
          <vg-controls class="absolute bottom-0 left-0 right-0 flex justify-between opacity-0 group-hover:opacity-100 transition-opacity duration-300 px-4 bg-transparent">
              <vg-play-pause></vg-play-pause>
              <vg-mute></vg-mute>
          </vg-controls>
  
          <!-- Scrub bar at the very bottom -->
          <vg-scrub-bar class="absolute bottom-0 left-0 right-0 opacity-0 group-hover:opacity-100 transition-opacity duration-300 cursor-pointer bg-transparent">
              <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
              <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
          </vg-scrub-bar>
      </vg-player>
  </div>
  
  