::ng-deep .discord-tabs .p-tabview-nav {
    background-color: #2f3136;
    border: none;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

::ng-deep .discord-tabs .p-tabview-nav li .p-tabview-nav-link {
    background-color: #2f3136;
    color: #8e9297;
    border: none;
    width: 100%;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

::ng-deep .discord-tabs .p-tabview-nav li.p-highlight .p-tabview-nav-link {
    background-color: #2f3136;
    color: #ffffff;
}

::ng-deep .discord-tabs .p-tabview-panels {
    background-color: #2f3136;
    border: none;
}

::ng-deep .discord-tabs .p-tabview-nav li .p-tabview-nav-link:not(.p-disabled):focus {
    box-shadow: none;
}

::ng-deep .discord-tabs .p-tabview-panels {
    height: 500px; /* Set a fixed height for the tab content */
    overflow-y: auto; /* Add vertical scroll if content overflows */
}


