<aside [class.-translate-x-full]="!sidebarOpen" class="flex h-screen fixed left-0 top-0 transition-transform -translate-x-full sm:translate-x-0 z-50"
  id="main-sidebar">
  <app-main-sidebar/>
  
  <div id="second-sidebar"
    class="h-full w-60 bg-[#2f3136] text-[#dcddde] overflow-y-auto">
    
    <!-- Server name -->
    <div class="px-4 py-[10px] flex justify-between items-center border-b border-[#202225] cursor-pointer hover:bg-[#34373c] transition duration-300" (click)="toggleServerOptions()">
      @if (server.name) {
        <h2 style="margin-bottom: 0px;" class="font-semibold text-white">{{ server.name }}</h2>
      } @else {
        <div class="animate-pulse flex space-x-4 h-8">
          <div class="h-8 bg-[#36393f] rounded w-0"></div>
        </div>
      }
      <span class="text-[#b9bbbe]">▼</span>
    </div>

    <div class="relative" [class.hidden]="!serverOptions">
      <div #serverMenu class="absolute right-2 mt-2 w-56 bg-[#18191c] rounded-md shadow-lg z-10">
        <div class="py-1">
          <a  (click)="generateInviteCode()" class="block px-4 py-2 text-[#2b95ff] hover:bg-[#4f545c] hover:text-white transition-colors duration-200 cursor-pointer">
            <span class="flex items-center">
              <span class="material-icons mr-2">person_add</span>
              Invite People
            </span>
          </a>
          <div class="border-t border-[#2f3136] my-1"></div>
          <a  (click)="createChannel()" class="block px-4 py-2 text-[#dcddde] hover:bg-[#4f545c] hover:text-white transition-colors duration-200 cursor-pointer">
            <span class="flex items-center">
              <span class="material-icons mr-2">add</span>
              Create Channel
            </span>
          </a>
          <a  (click)="createCategory()" class="block px-4 py-2 text-[#dcddde] hover:bg-[#4f545c] hover:text-white transition-colors duration-200 cursor-pointer">
            <span class="flex items-center">
              <span class="material-icons mr-2">create_new_folder</span>
              Create Category
            </span>
          </a>
          <a [routerLink]="['/server', serverId]" class="block px-4 py-2 text-[#dcddde] hover:bg-[#4f545c] hover:text-white transition-colors duration-200 cursor-pointer">
            <span class="flex items-center">
              <span class="material-icons mr-2">people</span>
              Members
            </span>
          </a>
          <div class="border-t border-[#2f3136] my-1"></div>
          <a  class="block px-4 py-2 text-red-500 hover:bg-[#4f545c] hover:text-red-400 transition-colors duration-200 cursor-pointer">
            <span class="flex items-center">
              <span class="material-icons mr-2">exit_to_app</span>
              Leave Server
            </span>
          </a>
        </div>
      </div>
    </div>

    <!-- Channels and categories -->
    <nav class="mt-2 px-2">
      @for (category of treeData; track category) {
        <div class="category mb-2">
          <div class="category-header flex items-center justify-between text-xs font-semibold text-[#8e9297] hover:text-[#dcddde] cursor-pointer px-1 py-1" (click)="toggleCategory(category)">
            <div>
              <span class="expand-icon mr-1">{{ category.expanded ? '▼' : '▶' }}</span>
              {{ category.label.toUpperCase() }}
            </div>
            <span (click)="createChannel(category._id)" class="add-icon hover:text-white">+</span>
          </div>
          <div class="category-channels" *ngIf="category.expanded">
            <div *ngFor="let channel of category.children" 
                 class="channel-item flex items-center px-2 py-1 rounded cursor-pointer hover:bg-[#393c43] text-[#8e9297] hover:text-[#dcddde]" 
                 [routerLink]="['/server', server._id, channel._id]" 
                  routerLinkActive="bg-[#393c43]" 
                 (click)="onChannelClick(channel)">
              <span class="channel-icon mr-1" [ngSwitch]="channel.type">
                <ng-container *ngSwitchCase="'text'">#</ng-container>
                <ng-container *ngSwitchCase="'voice'">🔊</ng-container>
                <ng-container *ngSwitchCase="'video'">📹</ng-container>
                <ng-container *ngSwitchDefault>#</ng-container>
              </span>
              {{ channel.label }}
            </div>
          </div>
        </div>
      }@empty {
        <div class="p-3 bg-[#2f3136] w-[232px] ">
          <!-- Category skeletons -->
          @for (item of [1, 2]; track item) {
            <div class="category mb-4">
              <!-- Category header skeleton -->
              <div class="category-header flex items-center justify-between text-xs font-semibold px-1 py-1">
                <div class="w-24 h-4 bg-[#36393f] rounded animate-pulse"></div>
                <div class="w-4 h-4 bg-[#36393f] rounded animate-pulse"></div>
              </div>
              
              <!-- Channel skeletons -->
              @for (channel of [1, 2, 3]; track channel) {
                <div class="channel-item flex items-center px-2 py-1 mt-1">
                  <div class="w-4 h-4 bg-[#36393f] rounded mr-2 animate-pulse"></div>
                  <div class="w-32 h-4 bg-[#36393f] rounded animate-pulse"></div>
                </div>
              }
            </div>
          }
        </div>
      }
    </nav>
  </div>
</aside>
