<p-toast [life]="2000" [showTransformOptions]="'translateY(100%)'" [showTransitionOptions]="'500ms'"
  [hideTransitionOptions]="'1000ms'" [showTransformOptions]="'translateX(100%)'" class="custom-toast" 
  [breakpoints]="{ 
 
    '576px': { width: '90%', right: '0', left: '0', bottom: '0' , transform:'translateX(0)', margin: '0 auto'}
  }"
  />

  <p-confirmDialog>
    <ng-template let-footer pTemplate="footer">
      <button type="button" pButton icon="pi pi-check" label="Yes" style="margin-right: 0.5rem;" ></button>
      <button type="button" pButton icon="pi pi-times" label="No" style="margin-left: 0.5rem;" ></button>
    </ng-template>
  </p-confirmDialog>









<router-outlet />