html, body {
	height: 100%;
	margin: 0;
  }
  
  .container-fluid {
	display: flex;
	flex-direction: column;
	height: 100%;
  }
  
  #local-video {
	background-color: #343434;
	transform: scaleX(-1);
	border-radius: 4px;
	width: 100%;
	height: 100%;
	object-fit: cover;
  }
  
  .local-video-wrapper {
	position: absolute;
	right: 1.5rem;
	bottom: 1.5rem;
	width: 10vw;
	height: 10vw;
	max-width: 10rem;
	max-height: 10rem;
	border: 3px solid white;
	border-radius: 4px;
	overflow: hidden;
  }
  
  #remote-videos {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	padding: 10px;
	overflow-y: auto;
	justify-content: center;
  }
  
  #remote-videos .video-wrapper {
	position: relative;
	display: inline-block;
	width: 200px;
	height: 150px;
	margin: 10px;
  }
  
  #remote-videos video {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 4px;
  }
  
  .username {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
	padding: 5px;
	text-align: center;
	border-radius: 0 0 4px 4px;
  }
  