<div class="flex min-h-screen justify-center items-center bg-white dark:bg-black">
    <div class="flex flex-col w-full max-w-lg px-4 py-12 sm:px-6">
      <main class="flex-1">
        <div class="space-y-6">
          <div class=" text-gray-900 dark:text-gray-100 rounded-lg bg-white dark:bg-zinc-800 dark:border-0 p-6 pb-8 " data-v0-t="card">
            <div class="space-y-2 pb-4 text-center">
              <h1 class="text-3xl font-bold text-black dark:text-white">Forget Password</h1>
              <p class="mt-2 text-sm text-gray-600">Please enter the email address associated with your account. We will send you a link to reset your password.</p>
              <p class="text-black dark:text-gray-300">
                <a class="font-medium text-blue-500 dark:text-blue-300 hover:underline" routerLinkActive="router-link-active" rel="ugc"></a>
              </p>
            </div>
            <form (submit)="forgetPassword()" class="space-y-4" [formGroup]="emailForm">
              <div class="space-y-2 mt-10">
                <!-- <label class="ps-1 text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70 text-gray-800 dark:text-gray-500" for="email">Email</label> -->
                <!-- <input formControlName="email" name="email" class="dark:bg-zinc-900 dark:border-0  flex h-10 w-full rounded-md border border-input bg-background  px-3 py-2  text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground dark:placeholder:text-neutral-700 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50" id="email" placeholder="Enter your email" required="" type="email" /> -->

                <input
                [ngClass]="{
                  'bg-red-50 border-red-500 text-red-900 placeholder-red-700 focus:ring-red-500 focus:border-red-500': emailForm.get('email')?.touched && emailForm.get('email')?.invalid, }"
                formControlName="email" name="email" style="margin-bottom: 10px; margin-top: 6px;"
                class="dark:bg-zinc-900 dark:border-0  flex h-10 w-full rounded-md border border-input bg-background  px-3 py-2  text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground dark:placeholder:text-neutral-700 focus-visible:outline-none focus-visible:ring-0 focus-visible:ring-ring focus-visible:ring-offset-1 disabled:cursor-not-allowed disabled:opacity-50"
                id="email" placeholder="Enter your email" required="" type="email" />


                <div>
                  @if (emailForm.get('email')?.errors?.['required'] && emailForm.get('email')?.['touched']) {
                    <p class="ps-1 mt-2 text-sm text-red-600 dark:text-red-500">Please fill in this field.</p>
                  } @else if (emailForm.get('email')?.errors?.['email'] && emailForm.get('email')?.['touched']) {
                    <p class="ps-1 mt-2 text-sm text-red-600 dark:text-red-500">Please enter a valid email address.</p>
                  }
                </div>
              </div>
              <div class="flex justify-center gap-28 " style="margin-top: 1.5rem;">
                <button (click)="goBack()" routerLinkActive="router-link-active" class="border-black border bg-white dark:text-white dark:bg-black text-black inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition duration-300 dark:duration-300 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed bg-primary text-primary-foreground hover:opacity-70 dark:hover:opacity-80  h-10 px-4 w-full" type="button">
                  Back
                </button>
                <button  [disabled]="emailForm.invalid" class="bg-black dark:text-black dark:bg-white text-white inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition duration-300 dark:duration-300 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed bg-primary text-primary-foreground hover:opacity-70 dark:hover:opacity-80  h-10 px-4 w-full" type="submit">
                  Reset Password
                </button>
              </div>
            </form>
          </div>
        </div>
      </main>
    </div>
  </div>



  @if(loading){
    <div class="fullscreen-spinner custom-spinner">
      <p-progressSpinner ariaLabel="loading" styleClass="w-2rem h-4rem" strokeWidth="1" fill="transparent"
        animationDuration="1s"></p-progressSpinner>
    </div>
    }
   