<main class="flex h-screen bg-[#36393f] overflow-hidden">
  <app-friends-sidebar />
  
  <div class="flex-1 flex flex-col h-full w-full" id="main-content-wrapper">
    <div class="flex flex-col h-full">
      <app-friends-header [name]="'Friends'" />
    
      <div class="flex-1 p-6 bg-[#36393f] overflow-y-auto flex flex-col">
        <h2 class="text-[#ffffff] text-xl font-semibold mb-4">All Friends</h2>
        
        <!-- <div class="mb-6">
          <div class="relative">
            <input [(ngModel)]="query" type="search" 
                   class="w-full bg-[#202225] text-[#dcddde] rounded-md pl-10 pr-4 py-2 focus:outline-none focus:ring-2 focus:ring-[#5865f2] transition-all"
                   placeholder="Search friends">
            <svg class="w-5 h-5 text-[#72767d] absolute left-3 top-1/2 transform -translate-y-1/2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
            </svg>
          </div>
        </div> -->
        
        <div class="space-y-2 flex-grow flex flex-col">
          @for (user of users; track user) {
            <div class="flex w-full bg-[#2f3136] rounded-md p-3 justify-between items-center hover:bg-[#292b2f] transition-all">
              <div class="flex items-center space-x-3">
                <img src="{{user.image}}" alt="user-profile" class="w-10 h-10 rounded-full">
                <p class="text-[#ffffff] text-base font-medium">{{user.username}}</p>
              </div>
              <div class="flex space-x-2">
                <button class="text-[#b9bbbe] hover:text-[#dcddde] transition-all"  [routerLink]="['/friend/direct-chat', userId, user._id]" routerLinkActive="router-link-active" >
                  <svg class="w-7 h-7" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 12h.01M12 12h.01M16 12h.01M21 12c0 4.418-4.03 8-9 8a9.863 9.863 0 01-4.255-.949L3 20l1.395-3.72C3.512 15.042 3 13.574 3 12c0-4.418 4.03-8 9-8s9 3.582 9 8z"></path>
                  </svg>
                </button>
                <button class="text-[#b9bbbe] hover:text-[#dcddde] transition-all">
                  <svg class="w-7 h-7" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"></path>
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z"></path>
                  </svg>
                </button>
              </div>
            </div>
          } @empty() {
            <div class="flex-grow flex flex-col items-center justify-center text-center">
              <svg class="w-16 h-16 text-[#72767d] mb-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 20h5v-2a3 3 0 00-5.356-1.857M17 20H7m10 0v-2c0-.656-.126-1.283-.356-1.857M7 20H2v-2a3 3 0 015.356-1.857M7 20v-2c0-.656.126-1.283.356-1.857m0 0a5.002 5.002 0 019.288 0M15 7a3 3 0 11-6 0 3 3 0 016 0zm6 3a2 2 0 11-4 0 2 2 0 014 0zM7 10a2 2 0 11-4 0 2 2 0 014 0z" />
              </svg>
              <p class="text-[#ffffff] text-lg font-medium">No friends found</p>
              <p class="text-[#72767d] mt-1 text-sm">Try adjusting your search or add some friends!</p>
            </div>
          }
        </div>
      </div>
    </div>
  </div>
</main>