<main class="flex h-screen bg-[#36393f] overflow-hidden">
  <app-friends-sidebar/>

  <div class="flex-1 flex flex-col h-full w-full" id="main-content-wrapper">
    <div class="flex flex-col h-full">
      <app-direct-chat-header [isFriendOnline]="isFriendOnline$" [userImage]="friendUserData.image" [name]="friendUserData.username"/>

      <div class="flex-1 flex flex-col bg-[#36393f] overflow-hidden">
        <div class="flex-1 overflow-y-auto px-4 py-6" id="scrollContainer" #scrollContainer>
          @for (msg of messages; track msg._id) {

            <div class="flex mb-4" [ngClass]="{'justify-end': msg.senderId._id === userId}">
              <div class="flex items-start" [ngClass]="{'flex-row-reverse': msg.senderId._id === userId}">
                <img [src]="msg.senderId.image"
                     alt="User avatar" 
                     class="w-10 h-10 rounded-full" [ngClass]="{'mr-3': msg.senderId._id !== userId, 'ml-3': msg.senderId._id === userId}">
                <div>
                  <div class="flex items-baseline mb-1" [ngClass]="{'justify-end': msg.senderId._id === userId}">
                    <span class="text-[#ffffff] font-medium" [ngClass]="{'mr-2': msg.senderId._id !== userId, 'ml-2 order-2': msg.senderId._id === userId}">
                      {{ msg.senderId.username }}
                    </span>
                    <span class="text-[#72767d] text-xs">{{ formatTime(msg.updatedAt) }}</span>
                  </div>
                  <div class="rounded-lg px-4 py-2 max-w-md" 
                       [ngClass]="{'bg-[#40444b]': msg.senderId._id !== userId, 'bg-[#5865f2]': msg.senderId._id === userId}">
                    <p class="text-white text-sm">{{ msg.message }}</p>
                  </div>
                </div>
              </div>
            </div>
          } @empty {
            <div class="flex-grow flex flex-col items-center justify-center text-center">
              <svg class="w-16 h-16 text-[#72767d] mb-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 12h.01M12 12h.01M16 12h.01M21 12c0 4.418-4.03 8-9 8a9.863 9.863 0 01-4.255-.949L3 20l1.395-3.72C3.512 15.042 3 13.574 3 12c0-4.418 4.03-8 9-8s9 3.582 9 8z"></path>
              </svg>
              <p class="text-[#ffffff] text-lg font-medium">No messages yet</p>
              <p class="text-[#72767d] mt-1 text-sm">Start the conversation!</p>
            </div>
          }
        </div>


        <div class="px-2 py-2 bg-[#40444b] mb-3 mr-3 rounded-md text-">
          <div class="relative">
            <input 
              type="text" 
              [(ngModel)]="message" 
              (keydown.enter)="sendMessage()"
              class="w-full bg-[#40444b] text-[#dcddde] rounded-md pl-4 pr-12 py-2 focus:outline-0 focus:ring-0 transition-all"
              placeholder="Type a message...">
            <button 
              (click)="sendMessage()" 
              class="absolute right-2 top-1/2 transform -translate-y-1/2 text-[#b9bbbe] hover:text-[#dcddde] transition-all">
              <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 19l9 2-9-18-9 18 9-2zm0 0v-8"></path>
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

@if (profileVisible) {
  <app-user-profile />
}

@if (createServerVisible) {
  <app-create-server />
}