<main class="flex h-screen bg-[#36393f] overflow-hidden font-sans text-[#dcddde]">
  <!-- Server list column -->

  <app-friends-sidebar class="sm:w-80 bg-[#2f3136] flex-shrink-0" />

  <div class=" flex-1 flex flex-col h-full ">
    <app-direct-chat-header [isFriendOnline]="isFriendOnline$" [userImage]="friendUserData.image"
      [name]="friendUserData.username" [friendId]="friendUserData._id"
      class="bg-[#36393f] shadow-sm   min-h-[48px] px-4 flex items-center" />

    <div class="flex-1 flex flex-col overflow-hidden">
      <div class="flex-1 overflow-y-auto  px-40 pt-4 sm:px-0" id="scrollContainer" #scrollContainer>
        @for (msg of groupedMessages; track msg; let i = $index) {
        <div class="mb-0 last:mb-0 hover:bg-[#32353b] mx-2 px-4 py-1 rounded-md group message-enter">
          <div class="flex items-start relative">
            @if (msg.isNewGroup) {
            <img [src]="msg.senderId.image" alt="User avatar"
              class="w-10 h-10 rounded-full mr-3 mt-0.5 transition-transform duration-200 ease-in-out transform hover:scale-110">
            <div class="flex-1 min-w-0">
              <div class="flex items-baseline mb-1">
                <span class="text-white font-medium mr-2 cursor-pointer">{{ msg.senderId.username }}</span>
                <span class="text-[#a3a6aa] text-xs">{{ formatTime(msg.createdAt) }}</span>
              </div>
              @if (msg.message.startsWith('[image]')) {
              <div class="max-w-sm">
                <img [src]="msg.message.slice(7)" alt="Shared image" class="rounded-md max-w-full h-auto" (click)="openMediaDialog(msg.message.slice(7), 'image')">
              </div>
              } @else if (msg.message.startsWith('[video]')) {
              <!-- <div class="max-w-sm">
                <video controls class="rounded-md max-w-full h-auto" (click)="openMediaDialog(msg.message.slice(7), 'video')">
                  <source [src]="msg.message.slice(7)" type="video/mp4">
                  Your browser does not support the video tag.
                </video>
              </div> -->
              <div class="max-w-sm relative cursor-pointer" (click)="openMediaDialog(msg.message.slice(7), 'video')">
                <img src="https://discord-bucket-7.s3.ap-south-1.amazonaws.com/360_F_480129384_xkBXyTdVt1R5F7KBwTD2kDURi7hV97Ad.jpg" alt="Video thumbnail" class="rounded-md max-w-full h-auto">
                <!-- <div class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-4xl text-white">▶️</div> -->
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"class="size-10 absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-4xl text-white">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M5.25 5.653c0-.856.917-1.398 1.667-.986l11.54 6.347a1.125 1.125 0 0 1 0 1.972l-11.54 6.347a1.125 1.125 0 0 1-1.667-.986V5.653Z" />
                </svg>
                
              </div>
              } @else {
              <p class="text-[#dcddde] break-words leading-relaxed" style="margin-bottom: 0px;">{{ msg.message }}</p>
              }
            </div>
            } @else {
            <div class="w-10 mr-3 flex-shrink-0"></div>
            @if (msg.message.startsWith('[image]')) {
            <div class="max-w-sm">
              <img [src]="msg.message.slice(7)" alt="Shared image"  class="rounded-md max-w-full h-auto" (click)="openMediaDialog(msg.message.slice(7), 'image')">
            </div>
            } @else if (msg.message.startsWith('[video]')) {
            <!-- <div class="max-w-sm">
              <video controls class="rounded-md max-w-full h-auto"  (click)="openMediaDialog(msg.message.slice(7), 'video')">
                <source [src]="msg.message.slice(7)" type="video/mp4">
                Your browser does not support the video tag.
              </video>
            </div> -->
            <div class="max-w-sm relative cursor-pointer" (click)="openMediaDialog(msg.message.slice(7), 'video')">
              <img src="https://discord-bucket-7.s3.ap-south-1.amazonaws.com/360_F_480129384_xkBXyTdVt1R5F7KBwTD2kDURi7hV97Ad.jpg" alt="Video thumbnail" class="rounded-md max-w-full h-auto">
              <!-- <div class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-4xl text-white">▶️</div> -->
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-10 absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-4xl text-white">
                <path stroke-linecap="round" stroke-linejoin="round" d="M5.25 5.653c0-.856.917-1.398 1.667-.986l11.54 6.347a1.125 1.125 0 0 1 0 1.972l-11.54 6.347a1.125 1.125 0 0 1-1.667-.986V5.653Z" />
              </svg>
              
            </div>
            } @else {
            <p class="text-[#dcddde] break-words leading-relaxed flex-1 min-w-0" style="margin-bottom: 0px;">
              {{ msg.message }}</p>
            }
            }
            <div
              class="absolute right-0 top-0 hidden group-hover:flex items-center space-x-1 bg-[#36393f] p-1 rounded-md shadow-md transition-opacity duration-200 opacity-0 group-hover:opacity-100">
              <button class="text-[#b9bbbe] hover:text-[#dcddde] p-1 rounded hover:bg-[#40444b] transition-colors">
                <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd"
                    d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-11a1 1 0 10-2 0v2H7a1 1 0 100 2h2v2a1 1 0 102 0v-2h2a1 1 0 100-2h-2V7z"
                    clip-rule="evenodd"></path>
                </svg>
              </button>
              <button class="text-[#b9bbbe] hover:text-[#dcddde] p-1 rounded hover:bg-[#40444b] transition-colors">
                <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M3 10h10a8 8 0 018 8v2M3 10l6 6m-6-6l6-6"></path>
                </svg>
              </button>
              <button class="text-[#b9bbbe] hover:text-[#dcddde] p-1 rounded hover:bg-[#40444b] transition-colors">
                <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M6 10a2 2 0 11-4 0 2 2 0 014 0zM12 10a2 2 0 11-4 0 2 2 0 014 0zM16 12a2 2 0 100-4 2 2 0 000 4z">
                  </path>
                </svg>
              </button>
            </div>
          </div>
        </div>
        } @empty {
        <div class="flex-grow flex flex-col items-center justify-center text-center">
          <svg class="w-16 h-16 text-[#8e9297] mb-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
            stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M8 12h.01M12 12h.01M16 12h.01M21 12c0 4.418-4.03 8-9 8a9.863 9.863 0 01-4.255-.949L3 20l1.395-3.72C3.512 15.042 3 13.574 3 12c0-4.418 4.03-8 9-8s9 3.582 9 8z">
            </path>
          </svg>
          <p class="text-[#ffffff] text-lg font-medium">No messages yet</p>
          <p class="text-[#8e9297] mt-1 text-sm">Start the conversation!</p>
        </div>
        }
      </div>

      <div class="px-4 py-4 bg-[#36393f]">
        <div class="relative flex gap-2 items-center">



          <input type="file" (change)="onImageUpload($event)" accept="image/*,video/*" style="display: none;"
            #fileInput>
          <button (click)="fileInput.click()"
            class="text-[#b9bbbe] hover:text-[#dcddde] p-1 rounded hover:bg-[#40444b] transition-colors">
            <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6">
              </path>
            </svg>
          </button>


          <input type="text" [(ngModel)]="message" (keydown.enter)="sendMessage()"
            class="w-full bg-[#40444b] text-[#dcddde] rounded-lg pl-4 pr-12 py-2.5 focus:outline-none focus:ring-2 focus:ring-[#5865F2] placeholder-[#72767d] transition-all duration-200"
            placeholder="Message @{{friendUserData.username}}">

          <button (click)="sendMessage()"
            class="absolute right-2 top-1/2 transform -translate-y-1/2 text-[#b9bbbe] hover:text-[#dcddde] transition-all p-2 rounded-full hover:bg-[#4f545c]">
            <svg class="w-6 h-6 rotate-90" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M10.894 2.553a1 1 0 00-1.788 0l-7 14a1 1 0 001.169 1.409l5-1.429A1 1 0 009 15.571V11a1 1 0 112 0v4.571a1 1 0 00.725.962l5 1.428a1 1 0 001.17-1.408l-7-14z">
              </path>
            </svg>
          </button>
        </div>
      </div>

    </div>
  </div>
</main>

@if (profileVisible) {
<app-user-profile />
}

@if (createServerVisible) {
<app-create-server />
}


@if (isLoading) {
  <div class="fullscreen-spinner custom-spinner">
    <p-progressSpinner ariaLabel="loading" styleClass="w-4rem h-4rem" strokeWidth="2" fill="transparent"
      animationDuration="1s"></p-progressSpinner>
  </div>
}