<div mat-dialog-content class="dialog-wrapper" (click)="closeDialog()">
  <div class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 z-50">
    <div class="bg-black rounded-lg overflow-hidden shadow-lg max-w-md w-full mx-auto" (click)="stopPropagation($event)">
      @if (data.type === 'image') {
        <img 
          [src]="data.src" 
          alt="Full size image" 
          class="w-full h-auto object-contain"
        >
      } @else if (data.type === 'video') {  
        <div class="w-full h-[500px] bg-black overflow-hidden group relative">
          <vg-player class="h-full">
          <vg-overlay-play></vg-overlay-play>
          <vg-buffering></vg-buffering>
      
          <vg-scrub-bar>
              <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
              <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
          </vg-scrub-bar>
      
          <vg-controls>
              <vg-play-pause></vg-play-pause>
      
              <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>
      
              <vg-scrub-bar style="pointer-events: none;"></vg-scrub-bar>
              <vg-mute></vg-mute>
              <vg-volume></vg-volume>
      
              <vg-fullscreen></vg-fullscreen>
          </vg-controls>
      
          <video autoplay [vgMedia]="$any(media)" #media id="singleVideo" preload="auto" crossorigin>
            <source [src]="data.src" type="video/mp4">
          </video>
      </vg-player>
    </div>
        
      }
    </div>
  </div>
</div>