<div class="card flex justify-content-center">
</div>

<div class="flex items-center justify-center min-h-screen bg-[#36393f]">
  <div class="max-w-md w-full space-y-8 px-4 sm:px-6 lg:px-8">
    <div class="text-center">
      <p class="text-3xl font-bold tracking-tight text-white">Enter your OTP</p>
      <p class="mt-2 text-xs sm:text-sm text-white">We've sent a one-time password to your Email.</p>
    </div>
    <form (submit)="verificationOtp()" class="space-y-6"  method="POST" (keydown.enter)="verificationOtp()">
      <div>
        <label for="otp" class="sr-only">One-Time Password</label>
        <div class="flex items-center justify-center space-x-4 text-white">
          <p-inputOtp [(ngModel)]="otpValue" [integerOnly]="true" [ngModelOptions]="{standalone: true}">
            <ng-template pTemplate="input" let-token let-events="events">
              <input 
                pInputText
                class="custom-otp-input" 
                (input)="events.input($event)" 
                (keydown)="events.keydown($event)" 
                type="text" 
                [attr.value]="token" 
                [maxLength]="1" />
            </ng-template>
          </p-inputOtp>
        </div>
      </div>
      <div> 
        <button
          class="items-center whitespace-nowrap ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 h-10 w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-xs sm:text-sm font-medium text-white bg-[#5865f2] hover:bg-[#4752c4] duration-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
          type="submit"
        >
          Verify OTP
        </button>
      </div>
    </form>
    <div class="flex items-center justify-between">
      <div class="text-xs sm:text-sm text-white">
        OTP expires in <span class="font-medium text-white">{{ counter }}s</span>
      </div>
      <div class="text-xs sm:text-sm text-white">
        <button class="font-medium text-[#5865f2] disabled:opacity-30   disabled:cursor-default "  [disabled]="counter!==0" (click)="resendOtp()">Resend OTP</button>
      </div>
      
    </div>
  </div>
</div>




